%h1 ユーザの検索

%p ユーザ名のところをクリックすると、そのユーザの本棚を見ることができます。

%table
  %thead
    %tr
      %th ユーザ名
      %th プロフィール
      %th フォロー

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to content_tag(:span, user.name), user
        %td= user.description
        %td= follow_to(user)
