%h1 ユーザの検索

%table
  %thead
    %tr
      %th ユーザ名
      %th プロフィール
      %th フォロー

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.description
        %td= follow_to(user)
