- title = user_signed_in? ? "#{current_user.name}さんのホーム" : "ホーム"
- provide :title, title
%h1= title

- if user_signed_in?
  = render partial: 'users/info', locals: {user: current_user}
  = render partial: 'users/bookshelf_summary', locals: {user: current_user}
