- unless user == current_user
  - if current_user.following?(user)
    = form_tag([user, :follow], method: :delete) do
      .actions.unfollow
        = submit_tag "フォロー解除"
  - else
    = form_tag([user, :follow]) do
      .actions.follow
        = submit_tag "フォローする"
