$aLinkColor: #d03c56;
$bodyColor: #333;

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: $bodyColor;
  position: relative;
  background-image: image-url("bg_booklog_body.gif");
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
  margin: 0;

  .main {
    display: block;
    width: 970px;
    min-height:100%;
    margin: 20px auto 20px;
  }

  .notice {
    margin-left: 30px;
    .alert {
      color: #1e1e1e;
      margin: 5px 0 5px;
      padding: 10px 20px;
      font-size: 16px;
      position: relative;
    }
    .alert-success {
      background: #E5F5FA;
      border: 3px solid #4ea6cc;
    }
    .alert-danger {
      background: #FAE5F5;
      border: 3px solid #da4740;
    }
  }

  .header {
    width: 100%;
  }

  .footer {
    width: 100%;
    padding: 10px 0 10px;
    background-color: rgb(161, 161, 161);
    color: white;
    font-size: 1.2rem;

    .copyright {
      text-align: center;
      letter-spacing: 1px;
    }
  }

  .clearfix::after {
    content: '';
    display: block;
    clear: both;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: $aLinkColor;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;

  th{
    text-align: center;
    line-height: 3em;
    vertical-align: top;
    color: #656565;
    background: #f0f0f0;
    border: 1px solid #b9b9b9;
    border-top: 5px solid;
  }
  tbody {
    tr:nth-of-type(even) {
      background-color: #eee;
    }
    tr:nth-of-type(odd) {
      background-color: #fff;
    }
    tr.total {
      background-color: #ddf;
      text-align: right;
    }
  }

  td{
    border: 1px solid #b9b9b9;
  }
}

.h {
  letter-spacing: 2px;
  color: $bodyColor;
}
h1 {
  color: #1e1e1e;
  font-weight: normal;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

span {
  font-weight: bold;
  color: #da4740;
}

.search_form {
  .field, .actions {
    display: inline-block;
  }
}
.field {
  input, select, textarea {
    padding: 7px;
    margin: 0 10px 0;
    font-size: 1.2em;
    border: 1px #1e1e1e solid;
    border-radius: 3px;
    line-height: 1.5em;
  }
  textarea {
    width: 400px;
    height: 200px;
  }
  label {
    display: block;
    font-size: 1.2em;
  }
}

$buttonColor: #4ea6cc;
$deleteButtonColor: #da4740;
.actions {
  input {
    padding: 7px;
    margin: 10px 10px 10px;
    font-size: 1.2em;
    border-radius: 3px;
    border: 1px solid $buttonColor;
    background-color: $buttonColor;
    color: white;
    cursor: pointer;

    &:hover {
      border: 1px solid black;
      background-color: black;
    }
  }
}
.delete-button {
  input {
    border: 1px solid $deleteButtonColor;
    background-color: $deleteButtonColor;
  }
}

nav.pagination {
  padding: 20px;
  margin-bottom: 20px;
  .page, .first, .prev, .next, .last {
    display: inline-block;
    padding: 4px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: white;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875rem;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
  }
  .current {
    background: #1e1e1e;
    box-shadow: inset 0px 1px 0px rgba(0,0,0, 1), 0px 1px 3px rgba(0,0,0, .1);
    text-shadow: 0px 1px 0px rgba(0,0,0, 1);
    color: white !important;
  }
  .page:hover, .first:hover, .prev:hover, .next:hover, .last:hover {
    background: #efefef;
    box-shadow: inset 0px 1px 0px #efefef, 0px 1px 3px rgba(0,0,0, .1);
  }
  a {
    color: #565656;
  }
}

ul.list {
  margin: 0;
  list-style-type: circle;
}
