.user-info {
  display: block;
  width: 100%;
  padding: 1px 15px 15px;
  border-radius: 8px;
  background-color: white;
  color: #1e1e1e;

  .follows {
    text-align: center;
    letter-spacing: 1px;

    .follow-to, .following-num {
      float: left;
      margin: 0 10px 0;
    }
    .following-num {
      padding-top: 20px;
      font-size: 1.2rem;
    }
  }
}

.book-shelf {
  width: 100%;
  .book-item {
    display: block;
    float: left;
    margin: 10px;
    padding: 5px 0 5px;
    max-height: 200px;
    width: 135px;

    img {
      box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    }

    .book-rank {
      color: #f5b629;
      position: relative;
    }
  }
}

.bookshelf-summary {
  width: 100%;
  border: 1px #cdcdcd solid;
  border-top: 3px #1e1e1e solid;
  border-collapse: separate;
  border-spacing: 10px;
  padding-top: 10px;
  background: #fff;

  .item-header {
    position: relative;
    display: block;
    padding: 8px 10px;
    margin: 0;
    background: #f0f0f0;
    color: #1e1e1e;
    font-size: 12px;
    font-weight: bold;
  }

  .item-box {
    display: block;
    float: left;
    width: 360px;
    min-height: 130px;
    margin: 5px;

    .review-item {
      display: inline-block;
      margin: 0 3px;
      color: #666;
      font-size: 1.3rem;
      letter-spacing: 1px;
    }
    img {
      box-shadow: 0px 0px 5px rgba(0,0,0,0.6);
    }
    img:hover {
      opacity: 0.8;
    }
  }
}

.timeline {
  width: 100%;
  .event {
    padding-bottom: 15px;
    border-bottom: 1px #e4e4e4 solid;
    .message-body {
      display: block;
    }
    .book-box {
      width: 780px;
      margin: 10px 0 0;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #eee;

      .image, .wrapper {
        display: block;
        float: left;
      }
      .wrapper {
        margin: 5px 20px 0;
        .title {
          margin-bottom: 20px;
          font-size: 14px;
          font-weight: bold;
          color: #333;
        }
        a {
          color: #333;
        }
        a:hover {
          color: #d03c56;
        }
      }
    }
  }
}
